.sidebar {
  width: 224px;
  background: var(--panel);
  display: flex;
  flex-direction: column;
  padding: 16px 17px 16px 16px;
  gap: 32px;
  border-right: 1px solid #1e2939;

  h3 {
    font-size: 16px;
    color: var(--muted);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.31px;
    font-family: "Inter", sans-serif;
  }

  /* ---------------- Devices ---------------- */
  .drag-items {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .drag-item {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;
      width: 191px;
      height: 46px;
      background: var(--panel-2);
      padding: 12px;
      border-radius: 10px;
      cursor: grab;
      transition: 0.2s;
      color: var(--text);
      border: 1px solid #364153;

      &:hover {
        background: rgba(100, 111, 127, 1);
        svg path {
          stroke: rgb(253, 253, 253);
        }
      }

      &.active {
        border: 1px solid var(--ac);
        color: var(--text);
        background: rgba(100, 111, 127, 1);
        svg path {
          stroke: rgb(253, 253, 253);
        }
      }
    }
  }

  /* ---------------- Saved Presets ---------------- */
  .presets {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .preset-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--panel-2);
      border-radius: 8px;
      overflow: hidden;

      .preset-btn {
        display: inline-flex;
        align-items: center;
        column-gap: 12px;
        width: 191px;
        height: 46px;
        background: var(--panel-2);
        padding: 12px;
        border-radius: 10px;
        color: var(--text);
        border: 1px solid #364153;
        transition: 0.2s;

        &:hover {
          background: #1a2340;
        }
      }

      /* active preset button */
      &.active .preset-btn {
        border: 1px solid var(--active-background);
        color: var(--text);
        background: rgba(100, 111, 127, 1);
        svg path {
          stroke: rgb(253, 253, 253);
        }
      }
    }

    .empty {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 191px;
      height: 46px;
      background: transparent;
      padding: 12px;
      border-radius: 10px;
      color: rgba(229, 231, 235, 0.274);
      border: 1px solid #364153;
    }
  }

  /* ---------------- Footer ---------------- */
  .footer-actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    button {
      padding: 0.5rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 0.85rem;
      font-weight: 500;
      transition: 0.2s;
    }

    .clear {
      background: #1e293b;
      color: var(--muted);
      &:hover {
        background: #2b364f;
      }
    }

    .save {
      background: var(--primary);
      color: #fff;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
